html,
body,
#root {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

/* Remove focus outline for Leaflet elements */
.leaflet-container :focus {
    outline: none; /* Disable the black box */
}

.cluster-icon {
    border-radius: 50%;
    color: black;
    height: 33px;
    line-height: 37px;
    text-align: center;
    width: 33px;
}

.cluster-small {
    background: #ffffff;
    border: 2px solid blue;
}

.cluster-medium {
    background: yellow;
    border: 4px solid blue;
}

.cluster-large {
    background: orange;
    border: 8px solid blue;
}
